$box-shadow: 10px 10px 20px #BDBDBD; 
$serif-font: 'Source Serif Pro', serif;

.expgrid-container {
	margin-top: 50px;
}

.exp-grid {
	margin: 0;
}

.grid-row {
	width: 900px;
	height: 200px; 
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	z-index: 2;
	justify-items: center;
	align-items: center;
}

.grid-item-container {
	display: flex;
	flex-direction: columns;
	justify-content: space-around;
	align-items: center;
}

.grid-item {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	img {
		height: 110px;
		width: 110px;
		border-radius: 50%;
		box-shadow: $box-shadow;
	}

	h4 {
		font-weight: normal;
		font-family: $serif-font;
		font-size: 14px;
		padding: 20px;
		margin: 5px;
		text-align: center;
	}
}

.grid-item-content {
	width: 100%;
	overflow: hidden;
	position: relative;
	height: 0px;
}

.info-card {
	width: 75%;
	height: 250px;
	display: flex;
	justify-content: space-around;
	background-color: #E7E6E6;
	padding: 0 12.5%;
	transform: translateY(-110%);
	position: absolute;

	.info-card-img {
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-grow: 1; 
		
		img {
			height: 150px;
			width: 150px;
			border-radius: 50%;
			display: flex;
			justify-content: space-around;
			align-items: center;
			box-shadow: $box-shadow;
		}
	}

	.info-card-content {
		width: 63%;
		margin: auto 0;
		font-family: $serif-font;
	}

}

.transition-styles-enter {
	transform: translateY(-110%);
}
.transition-styles-enter-active {
	transform: translateY(0%);
	transition: all 400ms ease-in-out;
}
.transition-styles-enter-done {
	transform: translateY(0%);
}
.transition-styles-exit {
	transform: translateY(0%);
}
.transition-styles-exit-active {
	transform: translateY(-110%);
	transition: all 400ms ease-in-out;
}
.container-transitions-enter {
	height: 0px; 
}
.container-transitions-enter-active {
	height: 300px;
	transition: height 400ms ease-in-out, 
}
.container-transitions-enter-done {
	height: 300px;
}
.container-transitions-exit {
	height: 300px;
}
.container-transitions-exit-active {
	height: 0px;
	transition: height 400ms ease-in-out,
}


@media (max-width: 900px) {
	.grid-row {
		grid-template-columns: 1fr 1fr;
		width: 100%;
		height: 400px; 
	}

	.info-card {
		height: 400px;
		.info-card-img {
			display: none;

			img {
				display: none;
			}
		}

		.info-card-content {
			width: 100%;
		}
	}

	.container-transitions-enter-active {
		height: 400px;
		transition: height 400ms ease-in-out, 
	}
	.container-transitions-enter-done {
		height: 400px;
	}
	.container-transitions-exit {
		height: 400px;
	}
}