.container {
  width: 100%;
  margin: 50px 0;
}

div[role=button] {
    outline: 0;
}

.title {
  width: 100%;
  margin: 0;
  text-align: center;
  padding: 5px 0;
  font-size: 24px;
  font-family: "Quicksand";
  font-weight: lighter;
}

.title-description {
  display: none;  
  font-weight: lighter;
}

.title-line {
  width: 100px;
}

@media (min-width: 700px) {
  .container {
    width: 85%;
    margin: 50px auto;
  }

  .title {
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 5px 0;
    font-size: 36px;
    font-family: "Quicksand";
  }

  .title-description {
    display: block;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    font-family: "Quicksand";
    font-size: 16px;
  }

  .title-line {
    width: 100px;
  }
}