.header-background {
	background-image: url(../../images/expertise-header.svg);
	background-repeat: no-repeat;
	width: 100%;
	height: 650px;
	margin: 0;
	padding: 40px 0;
}

.outer-expertise-card-container {
	width: 80%;
	display: flex;
	margin: 60px auto;
	justify-content: space-around;
	align-items: center;
}

.nav-bar-cover {
	width: 100%;
	background-color: #2F2E41;
	height: 80px;
}