.fullpage-image-grid {
	padding: 10px;
	width: 100%;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(4, 1fr);
	gap: 10px;
	justify-items: center;
	align-items: center;
}

.fp-grid-image {
	width: 98%;
	object-fit: contain;
}

.fp-grid-content-area {
	grid-column: 1 / 3;
	grid-row: 1 / 4;

	h3 {
		margin: 0;
	}
}

@media (max-width: 900px) {
	.fullpage-image-grid {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: auto;
		width: calc(100% - 20px);
		gap: 5px;
		height: auto;
	}

	.fp-grid-content-area {
		grid-column: 1 / 4;
		grid-row: 4 / 5;
		height: 100%;
		overflow: scroll;
		padding: 5px;

		h3 {
			margin: 0;
		}
	}

	.fp-grid-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
