.housing-window {
	background-color: #202021;
	height: 100%;
	overflow: hidden;
}

.housing-tabs {
	margin: 10px;
	height: 50px;
	display: flex;
	justify-content: space-around;
	align-items: center;

	> div {
		padding: 20px;
	}
}

.housing-carousel-container {
	width: 300%;
	height: auto;
	margin: 0 auto;
	background-color: #202021;
	display: flex;
	justify-content: space-around;
	transition: all 1.5s ease;

	> div {
		height: 90%;
		width: 32%;
		background-color: #202021;
		color: white;
	}
}

.housing-tab {
	width: 100%;
	height: 20px;
}