.housing-page-container {
	background-color: #202021;
	padding: 0 100px;
	height: auto;
	color: white;
	padding-top: 80px;
	font-family: "Quicksand";

	h3 {
		font-size: 24px;	
	}

	p {
		color: #d9d9d9;
	}
}

.housing-main-title {
	color: white;
	font-weight: lighter;
	font-size: 50px;
	margin: 40px 0;
	width: 100%;
	text-align: center;
}

.housing-main-discription {
	text-align: center;
	margin: 0 50px;
}

// For the Homestead Page:
.page-title {
	margin: 80px 0;
	font-size: 40px;
	font-weight: lighter;
	width: 100%;
	text-align: center;
}

.renovation-intro {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;

	.renovation-intro-content {
		width: 50%;
		text-align: justify;
		font-size: 16px;

		p {
			color: #d9d9d9;
		}
	}
}

.renovation-body-1 {
	margin-top: 80px;
	text-align: center;

	p {
		margin: 20px 100px;
		font-size: 16px;
		color: #d9d9d9;
	}
}