.pg-four-grid {
	width: 400px;
	height: 400px;
	background: inherit;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, 1fr);
	gap: 10px;
	padding: 10px;

	img {
		border-radius: 5px;
	}
}

.pg-four-image {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.pg-four-image:hover {
	opacity: 80%;
}

.pg-four-active-image {
	grid-column: 1 / 4;
	grid-row: 1 / 4; 
}

.pg-four-grid-right {
	background: inherit;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 10px;
	padding: 10px 30px;
}

.pg-four-active-image-right {
	grid-column: 2 / 5;
	grid-row: 1 / 5;
}

@media (max-width: 900px) {
	.pg-four-grid {
		width: 90%;
		height: auto;
	}

	.pg-four-grid-right {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
		gap: 5px;
		padding: 10px 10px;
		width: calc(100% - 20px);

	}

	.pg-four-active-image-right {
		grid-column: 1 / 4;
		grid-row: 1 / 3;
	}

	.cm-c-stats {
		padding: 0 20px;
		width: calc(100% - 40px);
	}
}